
.signup {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 200px;
}

input[type=text]:focus {
    background-color: lightblue;
  }

input[type=email]:focus {
    background-color: lightblue;
  }

input[type=password]:focus {
    background-color: lightblue;
}  

input[type=text] {
    background-image: url('searchicon.png');
}
