
.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
    font-size: 1.8em;
    color: black;
    margin-top: 0%;
  }

.signup {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: right;
    font-size: 1em;
    color:black
}  

.login {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: right;
  font-size: 1em;
  color:black
  margin-top: 0%;
}

.topPage {
  display: flex;
  flex-direction: row;
}

.heroImage {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-left: 250px;
  max-height: 236.71px;
  max-width: 450px;
}

.heroImage:hover {
  box-shadow:  0 0 2px 1px rgba(0, 0, 0, 0.5);
}

.maryHolmContainer {
  display:flex;
}

.maryHolmDescription { 
  width: 50px;
}
