
.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
    font-size: 1.8em;
    color: black;
    margin-top: 0%;
    margin-bottom: 0px;
  }  

.topPage {
  display: flex;
  flex-direction: row;
}

.signup {
  transition-duration: 0.4s;
  background-color: rgb(85, 151, 212);
}

.signup:hover {
  background-color: black;
  color: white;
}

.signup{
  margin-left: 1400px;
  padding-left: 0px;
}

.login{
  transition-duration: 0.4s;
  background-color: rgb(85, 151, 212);
  margin-left: 5px;

}

.login:hover {
  background-color: black;
  color: white;
}

.heroImage {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-left: 20px;
  max-height: 236.71px;
  max-width: 450px;
}

.quizHomepageStarter {
  margin-left: 5px;
}

.heroImage:hover {
  box-shadow:  0 0 2px 3px rgba(0, 0, 0, 0.5);
}

.maryHolmContainer {
  display:flex;
}

.maryHolmDescription { 
  width: 200px;
  display: flex;
  font-size:20px;
}

.maryInterviewLink {
  text-align: center;
  width: 80px;
  height: 40px;
  margin-top: 210px;
}

.footer {
  text-align: center;
   padding-top: 10%;
}