
.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
    font-size: 1.8em;
    color: black;
    margin-top: 0%;
    margin-bottom: 0px;
  }

.signup {
  outline-style: double;
  outline-color: royalblue;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-left:1100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  text-align: center;
    font-size: 1em;
    color:black
    
}  

.signup:hover {
  outline-style: solid;
}

.login {
outline-style: double;
outline-color: royalblue;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  text-align: center;
  font-size: 1em;
  color:black
}

.login:hover {
  outline-style: solid;
}

.topPage {
  display: flex;
  flex-direction: row;
}

.subheading {
   margin-top: 0px;
   margin-bottom: 15px;
}

.heroImage {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-left: 20px;
  max-height: 236.71px;
  max-width: 450px;
}

.quizHomepageStarter {
  margin-left: 5px;
}

.heroImage:hover {
  box-shadow:  0 0 2px 3px rgba(0, 0, 0, 0.5);
}

.maryHolmContainer {
  display:flex;
}

.maryHolmDescription { 
  width: 200px;
  display: flex;
  font-size:20px;
}
