@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("")


.topPage {
  font-family: "Raleway", sans-serif;
}

.topPage {

  max-height: 40px;
  display: flex;
  flex-direction: row;
  background-color:rgba(139, 189, 255, 0.623);
}

.title {
  text-align: left;
    font-size: 2.5em;
    margin-top: 0%;
    margin-bottom: 0px;
    color:slategrey;
    text-decoration: none; 
}  

.signupA {
  margin-left: 1100px;
  position: relative;
  align-self: center;
  color:slategrey;
  text-decoration: none;
  box-sizing: border-box;
}

.loginA {
  margin-left: 25px;
  align-self: center;
  color:slategrey;
  text-decoration: none;
}

.heroImage {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-left: 20px;
  max-height: 236.71px;
  max-width: 450px;
}

.quizHomepageStarter {
  margin-left: 5px;
}

.maryHolmContainer {
  display:flex;
  background-color:rgba(116, 161, 221, 0.623);
}

.maryHolmDescription { 
  width: 200px;
  display: flex;
  font-size:20px;
}

.maryInterviewLink {
  text-align: center;
  width: 80px;
  height: 40px;
  margin-top: 210px;
  align-self: center;
  color: azure;
  text-decoration: none;
  box-sizing: border-box;
}


.footer {
  text-align: center;
   padding-top: 10%;
}