@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("")

body {
  background-color:rgba(105, 144, 156, 0.623);
}

.topPage {
  font-family: "Raleway", sans-serif;
}

.topPage {

  max-height: 40px;
  display: flex;
  flex-direction: row;
  background-color:rgba(139, 189, 255, 0.623);
}

.title {
  text-align: left;
    font-size: 2.5em;
    color: black;
    margin-top: 0%;
    margin-bottom: 0px;
    color: azure; 
}  

.signupA {
  margin-left: 1100px;
  position: relative;
  align-self: center;
  color: azure;
  text-decoration: none;
  box-sizing: border-box;
}

.loginA {
  margin-left: 25px;
  align-self: center;
  color: azure;
  text-decoration: none;
}