

body {
    background-color:rgba(105, 144, 156, 0.623);

/* styling for the header of body */
.topPage {
    max-height: 40px;
    display: flex;
    flex-direction: row;
    background-color:rgba(116, 161, 221, 0.623);
    margin: 0px;
  }
  
  .title {
    text-align: left;
      font-size: 2.5em;
      margin-top: 0%;
      margin-bottom: 0px;
      margin-left: 0.5vw;
      color:slategrey;
      text-decoration: none; 
  }  
  
  .signupA {
    margin-left: 75vw;
    position: relative;
    align-self: center;
    color:slategrey;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  .loginA {
    margin-left: 25px;
    align-self: center;
    color:slategrey;
    text-decoration: none;
  }


.signup {
    text-align: center;
}

input[type=email]{
    font-size:  140px;

}

input[type=password]{
    font-size: 14px;
}

input[type=text]:focus {
    background-color: lightblue;
  }

input[type=email]:focus {
    background-color: lightblue;
  }

input[type=password]:focus {
    background-color: lightblue;
}  

input[type=text] {
  background-image: ;
}

.submit{
    text-align: center;
}